<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<h1 th:fragment="top"> 
	<!-- fragment를 줌으로써 다른 템플릿에 삽입 가능! --> 
		<a href="">방명록 [guest spring thymeleaf]</a>
	</h1>
	<div th:fragment="left" th:remove="tag"> 
	<!-- remove속성을 줌으로써 템플릿 렌더링 과정에서 지정된 요소를 제거! -->
		<p>
			<strong>메 뉴</strong>
		</p>
	
		<ul>
			<li><a href="guest_main">방명록홈</a></li>
			<li><a href="guest_list">방명록리스트</a></li>
			<li><a href="guest_write_form">방명록쓰기폼</a></li>
		</ul>
	</div>

	<p th:fragment="bottom" align="center">Copyright (&copy;) By Kimkyoungho.[김경호] All
		rights reserved.</p>
</body>


</html>
